.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #e6e4e7;
  padding: 1rem;

  .information {
    p {
      margin: 0;
    }
  }

  .value {
    h2 {
      margin: 0;
    }
  }
}
