@import "../../../app/theme";

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $secondary;
  padding: 1rem;
  margin: auto 0 0;

  .information {
    p {
      margin: 0;
    }
  }

  .value {
    h2 {
      margin: 0;
    }
  }
}
