@import "normalize.css/normalize.css";
@import "./theme";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $background;
  font-family: "Roboto", sans-serif;
}

main {
  width: fit-content;
  height: 100%;
  padding: 0 3rem;
}
