$grid-xs-breakpoint: 0;
$grid-sm-breakpoint: 425px;
$grid-md-breakpoint: 768px;
$grid-lg-breakpoint: 1024px;
$grid-xl-breakpoint: 1440px;
$grid-xxl-breakpoint: 1400px;

$primary: #9479ff;
$primary-darker: #957afe;
$secondary: #e6e4e7;
$background: #f5f3f6;
$hero-background: #0e162a;
$white: #ffffff;
