@import "../../../app/theme";

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem;
  border-bottom: 1px solid #f0eef1;

  &:nth-child(1) {
    border-top: 1px solid #f0eef1;
  }

  .titleAndPrice {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    align-items: baseline;
    width: 100%;
    gap: 0.5rem;

    .title {
      width: 100%;
      margin: 0;
      font-size: 15px;
    }

    .price {
      margin: 0;
      width: 120px;
      font-size: 15px;

      @media (min-width: $grid-md-breakpoint) and (max-width: calc($grid-lg-breakpoint - 1px)) {
        width: 90px;
      }
    }
  }

  .descriptionAndAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.5rem;

    .description {
      color: $primary;
      margin: 0;
      width: 100%;
      font-size: 15px;
    }

    .action {
      appearance: none;
      border: none;
      width: 50%;
      max-width: 5rem;
      height: 2rem;
      background: $secondary;
      cursor: pointer;
      font-size: 10px;
    }
  }
}
